@charset "utf-8";
/* CSS Document - Menu et Footer */
#menu{
	top: 0;
	left: 0;
	position:fixed;
	width: 100%;
}

h1{
	color: lightgray;
}

.flex-container{
	text-align: center;	
}
#logo{
	max-width:50%;
	max-height:50%;
	object-fit: cover;
	position: absolute;
	margin: 0;
}

#connexion{
	color: white;
}

#inscription{
	color: white;
}

footer p{
	background-color: #343A40;
	text-align: center;
	color : white;
	margin-bottom: 0%;
    display: flex;
    flex-direction: column;
}