

#menu{
	top: 0;
	left: 0;
	position:fixed;
	width: 100%;
}

.flex-container{
	text-align: center;	
}
#logo{
	max-width:50%;
	max-height:50%;
	object-fit: cover;
	position: absolute;
	margin: 0;
}
#connexion{
	color: white;
}

footer p{
	background-color: #343A40;
	text-align: center;
	color : white;
	margin-bottom: 0%;
    display: flex;
    flex-direction: column;
}
#boxes{
	position: inherit;
}
#boxes:hover {
	background-color: gray;
}
.row{
	margin: 0;
	padding: 0;
}
.formulaire{
	background-color: black;
	color: white;
	margin: 0 auto;
	text-align: center;
	height: auto;
	 display: none;
	 margin-top: 10%;
	 backdrop-filter: contrast(40%);
	 border-radius: 5%;
	 padding-top: 2%;
	 padding-bottom: 2%;
}
.fermer{
	position: fixed;
	margin-left: 45%;
	margin-top: -5%;
}
#img-fond{
	height: 50%;
	width: 100%;
	object-fit: cover;
}

.nomCo{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}