@charset "utf-8";
/* CSS Document - Body */

#boxes{
	position: inherit;
	background-color: rgb(48, 185, 140);
}

#boxes:hover {
	background-color: rgb(45, 179, 134);
}



#blocPrincipal{
	background-color: rgb(52, 196, 148);
	z-index: 1;
}

#formAjoutVoiture{
	background-color: rgb(52, 196, 148);
	color: white;
	padding:  4% 7% 4% 7%;	

}

.formulaire{
	background-color: rgb(52, 114, 129);
	color: white;
	margin: 0 auto;
	text-align: center;
	height: auto;
	display: none;
	margin-top: 10%;
	backdrop-filter: contrast(40%);
	border-radius: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.fermer{
	position: fixed;
	margin-left: 45%;
	margin-top: -5%;
}

#img-fond{
	height: 50%;
	width: 100%;
	object-fit: cover;
}

.nomCo{
	position:absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.row{
	margin: 0;
	padding: 0;

}

input{
	position: relative;
}

h2{
	text-align: center;
	margin-bottom: 30px;
}