@charset "utf-8";
/* CSS Document - Body */

#boxes{
	position: inherit;
}
#boxes:hover {
	background-color: gray;
}
.row{
	margin: 0;
	padding: 0;
}
.formulaire{
	background-color: rgb(35, 52, 63);
	color: white;
	margin: 0 auto;
	text-align: center;
	height: auto;
	display: none;
	margin-top: 10%;
	backdrop-filter: contrast(40%);
	border-radius: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.fermer{
	position: fixed;
	margin-left: 45%;
	margin-top: -5%;
}

#img-fond{
	height: 50%;
	width: 100%;
	object-fit: cover;
}

.nomCo{
	position:absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input{
	position: relative;
}